body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp4981192.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8); /* Background color with transparency */
}

.login-form {
    padding: 20px;
    background-color: #f1f1f1;
}

.submit-button {
    
    color: blue;
    border: 10;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: darkblue;
}
